@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');

.main .boxes {
  background-color: green;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  font-size: 14px;
  font-family: 'Lora', 'helvetica', 'arial', sans-sefif;
  font weght: 400;
}

header {
  background-color: yellow !important;
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: orange;
}

#mainID {
  color: blue;
}

menu ul {
  margin: 0;
  padding: 0;
}

menu ul li {
  display: inline;
}
@media only screen and (max-width: 600px) {
  .main .boxes{
    flex-direction: column;
  }

}
